<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WikiSports</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> 
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>     <!-- link to the jQuery library (see http://jquery.com) -->
	
	<!-- you can use these links, but better you have a link to the versions you need -->
    <!-- usage of folder "current" is not recommended -->
    <!-- see http://beaverslider.com/how-to-setup/docs/general for more info -->
    <script src="http://beaverslider.com/code/current/beaverslider.js"></script>         <!-- link to a framework -->
	<script src="http://beaverslider.com/code/current/beaverslider-effects.js"></script> <!-- link to a set of effects -->
	<script type="text/javascript" src="/slider.js"></script>

</head> 
<body>
	<div id="navBox">
		<div id="logo">
			<img src="/images/logo.png"/>
		</div>
    	<ul>
	        <li><a href="/">HOME</a></li>
	        <li><a href="/articles">DISPLAY</a></li>
	        <li><a href="#">MISC.</a></li>
     	</ul>

     	<div class="search">
     		<form>
		      	<input type="search" placeholder="search">
		    </form>
		    <img src="/images/search.png"/>
		</div>
     	<div class="logout">
		    <form action="/users/logout?_method=DELETE" method="post">
		      	<input type="submit" value="logout">
		    </form>
		</div>
    </div>
	<%- body %>
</body>
</html>

