<div class="button">
<form action="/articles/<%=article._id%>/?_method=DELETE" method="post" class="delete">
	<input type="submit" value="Delete">
</form>
<button class="edit"><a href="/articles/<%=article._id%>/edit">Edit</a></button>

</div>