<div class="sports_form">
	<form action="/articles" method="post">
		<div class="sports_grp">		
		<label>Title:</label>
		<input type="text" name="article[title]" placeholder="title">
		</div>

		<div class="sports_grp">
		<label>Enter a small Desc:</label>
		<textarea name="article[desc]"></textarea>
		</div>

		<div class="sports_grp">
		<label>Overview:</label>
		<textarea name="article[overview]"></textarea>
		</div>

		<div class="sports_grp">
		<label>History:</label>
		<textarea name="article[history]"></textarea>
		</div>

		<div class="sports_grp">
		<label>Rules:</label>
		<textarea name="article[rules]"></textarea>
		</div>

		<input type="submit" value="Add this jont"/><br>
	</form>
</div>