<div id="side_panel">
	<h3>Table of Content</h3>
	<ul>
		<li><h4><a href="#overview">Overview</a></h4></li>
		<li><h4><a href="#history">History</a></h4></li>
		<li><h4><a href="#rules">Rules</a></h4></li>
		<li><h4><a href="/articles">Go back</a></h4></li>
		<li><h4><a href="/">Go Home</a></h4></li>
	</ul>
</div>
<div id="top_panel">
	<% if(currentUser && currentUser == article.author) { %>
	<% include edit_buttons.ejs %>	
	<%}%>
</div>

<div id="main_panel">
	<h1> <%= article.title%> </h1>
	<div class="image_box">
		<ul>
			<li><img src="/images/substitute.png"/></li>
			<li><img src="/images/substitute.png"/></li>
			<li><img src="/images/substitute.png"/></li>
			<li><img src="/images/substitute.png"/></li>
		</ul>
	</div>
	<div class="overview_content">
		<h2 id="overview">Overview</h2>
		<p><%= article.overview %></p>
	</div>
	<hr>
	<div class="history_content">
		<h2 id="history">History</h2>
		<p><%= article.history %></p>
	</div>
	<hr>
	<div class="rules_content">
		<h2 id="rules">Rules</h2>
		<p><%= article.rules %></p>
	</div>
</div>



