
body {
  background: #517fa4;
}

/*Main nav bar*/
#navBox {
   /* order: 0;
    flex: 0 1 auto;*/
    align-self: stretch;
    background-color: #04080F;
    width: 100%;
    height: 4vw;
    border-top: 1px solid grey;
    transition: all .4s ease-in-out;
    position: relative;

    display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-start;

   /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center; */
    margin: -10px 0px 5px;
}

#navBox ul {
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*justify-content: space-around;*/
  align-content: center;
  align-items: center;

  order: 0;
  /*flex: 0 1 auto;*/
  /*align-self: stretch;*/
  margin-left: 25px;
}

#navBox li, #navBox a {
  display: inline;
  color: #CDCFCF;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  font-size: 1.3vw;
  font-weight: lighter;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
  text-decoration: none;
  margin: 0px 10px 0px 10px;

  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

#navBox li:hover, #navBox a:hover {
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#logo {
  height: 100%;
  width: 10%;
  position: relative;
  float: left;
}

#logo img {
  height: 100%;
  width: 100%;
}

#navBox .logout {
  position: relative;
  float: right;
  margin-top: 30px;
  /*margin-left: 200px;*/
}

#navBox .search {
  width: 22%;
  padding: 1px;
  height: 100%;
  margin-left: 380px;
  display: block;
}
#navBox .search img {
  height: 18px;
  width:15px;
  position: relative;
  margin: 12px 20px auto 0px;
  z-index: 20;
  float: right;
}
input[type="search"] {
  width: 200px;
  padding: 1px;
  border-radius: 1px;
  border: 1px solid black;
  height: 22px;
  line-height: 1em;
  margin-top: 10px;
  position: absolute;
  margin-left: 50px;
}


/*//////////////////////////HOMEPAGE//////////////////////////*/
.home {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 20px;
  /*opacity: 0.9;*/
  background: #333;
  /*z-index: 2;*/
}

.home ul {
  list-style-type: none;
  padding: 20px 0 0 0;
  text-align: center;
}

.home ul li {
  position: relative;
  border-bottom: 1px solid darkgray;
  /*opacity: 0.9;*/
/*  left: 20%;*/
}

.home ul > li > a {
  display: block;
  padding: 60px 10px 60px 10px;
  text-decoration: none;
  font-weight: 300;
}

.home ul > li > a:link, a:visited {
  color: red;
}

.home > ul > li > a:hover {
  color: darkgray;
  cursor: pointer;
}

/*////////////////////////IMAGE SLIDER////////////////////////////*/

#my-slider {
  height: 400px;
  width: 400px;
  position: relative;
  margin: 0px auto -30px auto;

}
/*
#my-slider images {
  height: 400px;
  width: 400px;
}
*/
/* usual control elements */
.control-container {
  /* as far as controls are displayed as inline-block this puts them to center */
  /* choose left or right to put it to left/right */
  text-align: center; 
  
  /* margin from the bottom of slider */
  /* see demo to learn how to put panel over the slider */
  margin-top: 10px;
}

.control-element, .control-element-active {
  /* this displays element as inline-block; zoom and *display is a hack for ie7 which does not support inline-block */
  display: inline-block;
  zoom: 1;
  *display: inline;
  
  /* change this to the values you need */
  width: 7px;
  height: 7px;
  background: #d7f1ab;
  margin: 0 5px;
  cursor: pointer;
}

.control-element-active {
  background: #819462;
}

/* usual control elements over slider */
.control-container-over {
  /* fixes it on the top in the 3d world (the effects area of a slider has 100 by default) */
  position: relative;
  z-index: 101;
  
  /* put panel over the slider */
  margin: -35px 0 0 10px;
  
  /* put panel in the middle */
  /* margin: -30px auto; */
  
  background-color: rgba(215,241,171,0.6);
  padding: 3px 5px;
  
  /* change width to your value */
  width: 200px;
}

.control-element-over, .control-element-active-over {
  /* this displays element as inline-block; zoom and *display is a hack for ie7 which does not support inline-block */
  display: inline-block;
  zoom: 1;
  *display: inline;
  
  /* change this to the values you need */
  width: 10px;
  height: 10px;
  border-radius: 5px 5px 5px 5px;
  background: white;
  margin: 0 5px;
  cursor: pointer;
}

.control-element-active-over {
  background: #424242;
}

/* image-preview control elements */
.control-container-img {
  /* as far as contorls are displayed as inline-block this puts them to center */
  /* choose left or right to put it to left/right */
  text-align: center; 
  
  /* change this to the values you need */
  margin-top: 1px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.control-element-img, .control-element-active-img {
  /* this displays element as inline-block; zoom and *display is a hack for ie7 which does not support inline-block */
  display: inline-block;
  zoom: 1;
  *display: inline;
  
  /* change this to the values you need */
  width: 150px;
  height: 88px;
  margin: 0;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40)
}

.control-element-img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70)
}

.control-element-active-img {
  opacity: 1;
  filter: alpha(opacity=100)
}

.control-element-img img, .control-element-active-img img {
  width: 150px;
  height: 88px;
}

/* carousel player */
.player-container-carousel {
  height: 132px;
  width: 720px;
  margin-top: 144px;
}

.player-back-carousel, .player-forward-carousel {
  background-image: url(carousel.png);  
  height: 132px;
  width: 40px;
  float: left;
  opacity: 0.7;
  filter: alpha(opacity=70)
}

.player-forward-carousel {
  float: right;
  background-position: -47px;
}

.player-back-carousel:hover {
  background-position: -96px; 
  opacity: 1;
  filter: alpha(opacity=100)
}

.player-forward-carousel:hover {
  background-position: -144px;
  opacity: 1;
  filter: alpha(opacity=100)
}

/* dummy for missing buttons to display the forward button in the same row */
.player-pause-carousel, .player-play-carousel {
  /* this displays element as inline-block; zoom and *display is a hack for ie7 which does not support inline-block */
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* usual player with images */
.player-container {
  height: 28px;
  white-space: nowrap;
}

.player-pause, .player-play, .player-forward, .player-back {
  /* this displays element as inline-block; zoom and *display is a hack for ie7 which does not support inline-block */
  display: inline-block;
  zoom: 1;
  *display: inline;
  
  cursor: pointer;
  margin-left: 5px;
  height: 28px;
  width: 33px;
  background-image: url(player.png);
}

.player-pause {
  background-position: -199px 0;
  width: 28px;
}

.player-pause:hover {
  background-position: -161px 0;
}

.player-play {
  background-position: -356px 0;
  width: 28px;
}

.player-play:hover {
  background-position: -319px 0;
}

.player-back {
  background-position: -275px 0;
}

.player-back:hover {
  background-position: -234px 0;
}

.player-forward {
  background-position: -434px 0;
}

.player-forward:hover {
  background-position: -393px 0;
}

/* usual player with text */
.player-text-container {
  background-position: 0 0;
  color: white;
  height: 28px;
  width: 151px;
  font-family: PT Sans Narrow;
  font-size: 1.3em;
  background-image: url(player.png);
}

.player-text-container div {
  display: inline-block;
  font-size: 0.8em;
  margin: 0 10px;
  cursor: pointer;
  width: 29px;
}

.player-text-pause:hover, .player-text-play:hover, .player-text-forward:hover, .player-text-back:hover {
  text-decoration: underline;
}

/* messages */
.message-container {
  background: #424242;
  color: white;
  font-size: 0.9em;
  font-family: PT Sans Narrow;
  padding: 5px;
}

/* events */
#status-message {
  visibility: hidden;
  font-weight: bold;
  color: red;
}

/* widget */
.widget-container {
  background: #424242;
  color: white;
  font-size: 0.9em;
  font-family: PT Sans Narrow;
  padding: 5px;
}

.widget-container td {
  padding: 2px 4px;
}

.widget-container input {
  width: 153px;
}

/* google maps */
.maps-container {
  background: rgba(42,42,42,0.6);
  padding: 5px 5px 3px 5px;
}

.maps-container img {
  /* fixed size is needed for animation */
  width: 150px;
  height: 150px;
}
/*/////////////////////Sign Up page////////////////////////////*/
#signup_form {
  height: auto;
  max-width: 40%;
  position: relative;
  margin: 10px auto 0px;
  background: lightgray;
  padding: 2px;
  /*display: inline-block;*/
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
  width: 80%;
  padding: 1px;
  border-radius: 2px;
  border: 1px solid black;
  height: 2em;
  line-height: 1em;
  margin-bottom: 10px;
 }

.form-header {
  margin: 5px 0px 20px 0px;
  font-size: 25px;
  text-align: center;
  font-family: cursive;
}

input[type="submit"] {
  background: darkgrey;
  position: relative;
  float: right;
  margin-top: -20px;
  text-shadow: 10px;
  -webkit-transition: background 2s ease;
  transition: background 2s ease;
}

input[type="submit"]:hover {
  background: green;
  cursor: pointer;
}

.form-grp {
  margin: 0px 1px 20px 10px;
}

/*Login form*/
#login_form {
  height: auto;
  max-width: 40%;
  position: relative;
  margin: 10px auto 0px;
  background: lightgray;
  padding: 2px;
  /*display: inline-block;*/
}

/*///////////////////////DETAIL PAGE/////////////////////////*/

#side_panel {
  height: 70%;
  width: 15%;
  background: red;
  position: relative;
  float: left;
  text-align: center;
  /*z-index: -2;*/
}

#side_panel img {
  height: 150px;
  width: 100%;
}

#top_panel {
  height: 5%;
  width: 85%;
  background: lightgrey;
  position: relative;
  float: right;
  /*z-index: -2;*/
}

#main_panel {
 height: auto;
  width: 85%;
  background: lightgrey;
  position: relative;
  float: right;
  /*z-index: -2;*/
}

#main_panel h2, p {
  position: relative;
  margin-left: 10px;
}

.image_box {
  height: auto;
  width: 40%;
  background: lightblue;
  position: relative;
  float: right;
  margin-bottom: 10px;
  margin-left: 10px;
}

.image_box ul {
  list-style: none;
}
.image_box img {
  height: 200px;
  width: 90%;
}
/*///////////////////EDIT BUTTONS///////////////*/

.edit {
  height: 21px;
  width: 45px;
  background: #B2B2B2;
  border: 1px solid black;
  border-radius: 1px;
  text-align: center;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
  position: relative;
  float: right;
  box-shadow: 0.5px 0.5px 0 #1b383b;
}

.edit a {
  text-decoration: none;
  color: black;
}

.button {
  display: inline;
}

.delete {
  position: relative;
  float: right;
  margin-top: 20px;
}

/*//////////////////////////Form page/////////////////////////////////*/

.sports_form {
  height: auto;
  max-width: 50%;
  position: relative;
  margin: 10px auto 0px;
  background: lightgray;
  padding: 2px;
  /*display: inline-block;*/
}

.sports_form form textarea {
  width: 55%;
  padding: 1px;
  border-radius: 2px;
  border: 1px solid black;
  height: 150px;
  line-height: 1em;
  margin-bottom: 10px;
 }

.sports_form form input[type="text"] {
  width: 40%;
  padding: 1px;
  border-radius: 2px;
  border: 1px solid black;
  height: 2em;
  line-height: 1em;
  margin-bottom: 10px;
 }

/*///////////////////////INDEX.EJS////////////////////////*/

.accordion {
  width: 30vw;
  min-width: 320px;
  overflow: hidden;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.accordion input {
  display: none;
}

.accordion input + label {
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: block;
  border-bottom: 1px solid #3399cc;
  position: relative;
  background: #49b1e5;
  padding: 10px;
  -moz-transition: background 0.75s;
  -o-transition: background 0.75s;
  -webkit-transition: background 0.75s;
  transition: background 0.75s;
}

.accordion input + label:hover {
  background-color: #3399cc;
}

.accordion input + label:after {
  position: absolute;
  top: 13px;
  right: 11px;
  content: '\f067';
  font-size: 12px;
  font-family: 'FontAwesome';
  -moz-transition: transform 0.75s;
  -o-transition: transform 0.75s;
  -webkit-transition: transform0.75s;
  transition: transform 0.75s;
}

.accordion .section {
  opacity: 0;
  height: 0;
  color: transparent;
  -moz-transition: height 0.75s, opacity 0.75s;
  -o-transition: height 0.75s, opacity 0.75s;
  -webkit-transition: height 0.75s, opacity 0.75s;
  transition: height 0.75s, opacity 0.75s;
}

dl {
  margin: 0;
  padding: 10px;
}

.accordion input:checked + label + .section {
  color: #333;
  display: block;
  overflow: auto;
  height: 300px;
  opacity: 1;
  background-color: white;
}

.accordion input:checked + label {
  background: #3399cc;
}

.accordion input:checked + label:after {
  -moz-transform: rotate(405deg);
  -o-transform: rotate(405deg);
  -webkit-transform: rotate(405deg);
  transform: rotate(405deg);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba( 255, 255, 255, 0.5);
  cursor: pointer;
}

.section ul {
  list-style: none;
  position: relative;
  left: -30px;
}
















