<form action="/users/login" method="post" id="login_form">
    <div class="form-header">Please Login</div>
    <div class="form-grp">
	    <label>Username: </label>
	    <input type="text" name="user[username]">
	    
	    <label>Password: </label>
	    <input type="password" name="user[password]">
    </div>
    <input type="submit" value="Login In">
</form>