	
<form action="/users" method="post" id="signup_form">
	<div class="form-header">Please Sign Up</div>
	<div class="form-grp">
	    <label>Username: </label>
	    <input type="text" name="user[username]">
	    
	    <label>Password: </label>
	    <input type="password" name="user[password]">
	    
	</div>
	<input type="submit" value="Sign Up">
</form>